.logo {
    font-family: 'raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color: var(--blue-text-color);
    text-decoration: none;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
  }
  
  .bluetext {
    color: var(--blue-text-color);
  }
  
  .blacktext {
    color: var(--first-text-color);
  }
  
  .whitetext {
    color: var(--white-text-color);
  }